<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/admin_layout.html">
<div class="col-9" layout:fragment="admin_content">
    <div class="container-fluid">
        <div class="row">
            <div>
                <h2>Orders</h2>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">NAME OF BUYER</th>
                    <th scope="col">AMOUNT</th>
                    <th scope="col">BOUGHT DATE</th>
                    <th scope="col">ITEM NAME</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}">
                    <th scope="row" th:text="${order.getId()}"></th>
                    <td th:text="${order.getBuyerName()}"></td>
                    <td th:text="${order.getCount()}"></td>
                    <td th:text="${order.getBoughtDate()}"></td>
                    <td th:text="${order.getItemId().getName()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</html>