<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/admin_layout.html">
<div class="col-9" layout:fragment="admin_content">
    <div class="container-fluid">
        <h1 th:text="${role.getRole()}"></h1>
        <div class="row row-cols-1">
            <form th:action="@{'/editRole'}" method="post">
                <input th:value="${role.getId()}" name="id" type="number" class="form-control" placeholder="Name"
                       hidden>
                <div class="form-group">
                    <label>NAME: </label>
                    <input th:value="${role.getRole()}" name="role" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label>DESCRIPTION: </label>
                    <textarea class="form-control" name="description"></textarea>
                </div>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete
                </button>
                <button type="submit" class="btn btn-success">Edit</button>
            </form>
        </div>
        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Deleting <span th:text="${role.getRole()}"></span></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">NO</button>
                        <a th:href="@{'/deleteRole?id='+${role.getId()}}" type="button" class="btn btn-danger">YES</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>